In [1]:
import pandas as pd

In [6]:
csv = pd.read_csv("./Final_Data_add_etc.csv")
print(csv.columns)

Index(['YM', 'MCT_NM', 'OP_YMD', 'MCT_TYPE', 'ADDR', 'UE_CNT_GRP',
       'UE_AMT_GRP', 'UE_AMT_PER_TRSN_GRP', 'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT',
       'WED_UE_CNT_RAT', 'THU_UE_CNT_RAT', 'FRI_UE_CNT_RAT', 'SAT_UE_CNT_RAT',
       'SUN_UE_CNT_RAT', 'HR_5_11_UE_CNT_RAT', 'HR_12_13_UE_CNT_RAT',
       'HR_14_17_UE_CNT_RAT', 'HR_18_22_UE_CNT_RAT', 'HR_23_4_UE_CNT_RAT',
       'LOCAL_UE_CNT_RAT', 'RC_M12_MAL_CUS_CNT_RAT', 'RC_M12_FME_CUS_CNT_RAT',
       'RC_M12_AGE_UND_20_CUS_CNT_RAT', 'RC_M12_AGE_30_CUS_CNT_RAT',
       'RC_M12_AGE_40_CUS_CNT_RAT', 'RC_M12_AGE_50_CUS_CNT_RAT',
       'RC_M12_AGE_OVR_60_CUS_CNT_RAT', 'key', 'MCT_NAVER_NAME', 'placeID',
       '휴업일', '영업시간', '전화번호', '메뉴', 'ADDR_filtered', '시설정보', '주차정보', '좌석',
       '결제', '분류', 'review'],
      dtype='object')

In [12]:
import pandas as pd
import re

# CSV 파일 읽기
csv = pd.read_csv("./Final_Data_add_etc.csv")

# placeID가 존재하지 않는 행 필터링
missing_placeID = csv[csv['placeID'].isna()]

# MCT_NM과 ADDR 열 선택
missing_placeID = missing_placeID[['MCT_NM', 'ADDR']]

# MCT_NM에서 괄호와 괄호 속 문자열 제거
missing_placeID['MCT_NM'] = missing_placeID['MCT_NM'].apply(
    lambda x: re.sub(r'\s*\(.*?\)\s*', '', x))

# ADDR에서 띄어쓰기 기준으로 1번 인덱스와 2번 인덱스만 선택
missing_placeID['ADDR'] = missing_placeID['ADDR'].apply(
    lambda x: ' '.join(x.split()[1:3]) if len(x.split()) > 2 else x)

# MCT_NM과 ADDR을 하나의 문자열로 결합
missing_placeID['Combined'] = missing_placeID['MCT_NM'] + \
    ' ' + missing_placeID['ADDR']

search_string = missing_placeID[['Combined']]

# 결과 출력
print(search_string)

                         Combined
0     한국수상레저안전협회 제주제주시지부 제주시 이호일동
2              케이디에셋 담앤루 서귀포시 대포동
4       비케이알 버거킹 제주화북DT점 제주시 화북일동
5                 성우디엔에프 서귀포시 강정동
6     신세계푸드 제주신화월드  고래라면 서귀포시 안덕면
...                           ...
9245                   히로 제주시 조천읍
9247                   히아담 제주시 연동
9248           히치하이커스라운지 제주시 이도이동
9250                  힘찬장어 제주시 연동
9251                   힛업 제주시 노형동

[6672 rows x 1 columns]